{
  "service": [
    {
      "service-instance-id": "{{service_instance_id}}",
      "service-status": {
        "response-code": "string",
        "response-message": "string",
        "final-indicator": "string",
        "request-status": "synccomplete",
        "action": "string",
        "rpc-name": "string",
        "rpc-action": "assign",
        "response-timestamp": "string"
      }
    }
  ]
}
