{
    "node": [
        {
            "node-id": "{{node_id}}",
            "netconf-node-topology:host": "100.70.0.101",
            "netconf-node-topology:port": 830,
            "netconf-node-topology:keepalive-delay": 100,
            "netconf-node-topology:tcp-only": false,
            "netconf-node-topology:username": "root",
            "netconf-node-topology:password": "password"
        }
    ]
}
