{
    "componentType": "SERVICE",
    "name": "{{ name }}",
    "contactId": "{{ user_id }}",
    "categories": [
      {
        "name": "{{ category.name }}",
        "uniqueId": "{{ category.unique_id }}"
      }
    ],
    "instantiationType": "{{ instantiation_type.value }}",
    "description": "{{ description }}"
}