{
  "artifactGroupType": "{{ artifact_group_type }}",
  "artifactName": "{{ artifact_name }}",
  "artifactLabel": "{{ artifact_label }}",
  "artifactType": "{{ artifact_type }}",
  "description": "{{ artifact_description }}",
  "payloadData": "{{ artifact_payload }}"
}
