{
    "category": "{{ category }}",
    "description": "{{ description }}",
    "name": "{{ name }}",
    "onboardingMethod": "{{ onboarding_method }}",
    "subCategory": "{{ subcategory }}",
    "vendorId": "{{ vendor.vendor_id }}",
    "vendorName": "{{ vendor.name }}"
}