{
    "name": "{{ resource.name }}",
    "originType": "{{ resource.resource_type().value }}",
    "componentUid": "{{ resource.unique_id }}",
    "componentVersion": "{{ resource.version }}",
    "icon":"{{ resource.icon }}"
}
