{
{%- if pnf_object.admin_status %}"admin-status": "{{ pnf_object.admin_status }}",{% else %}{%endif %}
{%- if pnf_object.equip_model %}"equip-model": "{{ pnf_object.equip_model }}",{% else %}{%endif %}
{%- if pnf_object.equip_type %}"equip-type": "{{ pnf_object.equip_type }}",{% else %}{%endif %}
{%- if pnf_object.equip_vendor %}"equip-vendor": "{{ pnf_object.equip_vendor }}",{% else %}{%endif %}
{%- if pnf_object.frame_id %}"frame-id": "{{ pnf_object.frame_id }}",{% else %}{%endif %}
{%- if pnf_object.in_maint != None %}"in-maint": {{ convert_bool_for_json(pnf_object.in_maint) }},{% else %}{%endif %}
{%- if pnf_object.inv_status %}"inv-status": "{{ pnf_object.inv_status }}",{% else %}{%endif %}
{%- if pnf_object.ipaddress_v4_aim %}"ipaddress-v4-aim": "{{ pnf_object.ipaddress_v4_aim }}",{% else %}{%endif %}
{%- if pnf_object.ipaddress_v4_loopback_0 %}"ipaddress-v4-loopback-0": "{{ pnf_object.ipaddress_v4_loopback_0 }}",{% else %}{%endif %}
{%- if pnf_object.ipaddress_v4_oam %}"ipaddress-v4-oam": "{{ pnf_object.ipaddress_v4_oam }}",{% else %}{%endif %}
{%- if pnf_object.ipaddress_v6_aim %}"ipaddress-v6-aim": "{{ pnf_object.ipaddress_v6_aim }}",{% else %}{%endif %}
{%- if pnf_object.ipaddress_v6_loopback_0 %}"ipaddress-v6-loopback-0": "{{ pnf_object.ipaddress_v6_loopback_0 }}",{% else %}{%endif %}
{%- if pnf_object.ipaddress_v6_oam %}"ipaddress-v6-oam": "{{ pnf_object.ipaddress_v6_oam }}",{% else %}{%endif %}
{%- if pnf_object.management_option %}"management-option": "{{ pnf_object.management_option }}",{% else %}{%endif %}
{%- if pnf_object.model_customization_id %}"model-customization-id": "{{ pnf_object.model_customization_id }}",{% else %}{%endif %}
{%- if pnf_object.model_invariant_id %}"model-invariant-id": "{{ pnf_object.model_invariant_id }}",{% else %}{%endif %}
{%- if pnf_object.model_version_id %}"model-version-id": "{{ pnf_object.model_version_id }}",{% else %}{%endif %}
{%- if pnf_object.nf_role %}"nf-role": "{{ pnf_object.nf_role }}",{% else %}{%endif %}
{%- if pnf_object.operational_status %}"operational-status": "{{ pnf_object.operational_status }}",{% else %}{%endif %}
{%- if pnf_object.orchestration_status %}"orchestration-status": "{{ pnf_object.orchestration_status }}",{% else %}{%endif %}
{%- if pnf_object.pnf_id %}"pnf-id": "{{ pnf_object.pnf_id }}",{% else %}{%endif %}
{%- if pnf_object.pnf_ipv4_address %}"pnf-ipv4-address": "{{ pnf_object.pnf_ipv4_address }}",{% else %}{%endif %}
{%- if pnf_object.pnf_ipv6_address %}"pnf-ipv6-address": "{{ pnf_object.pnf_ipv6_address }}",{% else %}{%endif %}
{%- if pnf_object.pnf_name %}"pnf-name": "{{ pnf_object.pnf_name }}",{% else %}{%endif %}
{%- if pnf_object.prov_status %}"prov-status": "{{ pnf_object.prov_status }}",{% else %}{%endif %}
{%- if pnf_object.selflink %}"selflink": "{{ pnf_object.selflink }}",{% else %}{%endif %}
{%- if pnf_object.serial_number %}"serial-number": "{{ pnf_object.serial_number }}",{% else %}{%endif %}
{%- if pnf_object.sw_version %}"sw-version": "{{ pnf_object.sw_version }}",{% else %}{%endif %}
{%- if pnf_object.service_instance %}"service-instance": {
{%- if pnf_object.service_instance.service_subscription %}"service-subscription": "{{ pnf_object.service_instance.service_subscription.service_type }}",{% else %}{%endif %}
{%- if pnf_object.service_instance.instance_id %}"instance-id": "{{ pnf_object.service_instance.instance_id }}",{% else %}{%endif %}
{%- if pnf_object.service_instance.instance_name %}"instance-name": "{{ pnf_object.service_instance.instance_name }}",{% else %}{%endif %}
{%- if pnf_object.service_instance.service_type %}"service-type": "{{ pnf_object.service_instance.service_type }}",{% else %}{%endif %}
{%- if pnf_object.service_instance.service_role %}"service-role": "{{ pnf_object.service_instance.service_role }}",{% else %}{%endif %}
{%- if pnf_object.service_instance.environment_context %}"environment-context": "{{ pnf_object.service_instance.environment_context }}",{% else %}{%endif %}
{%- if pnf_object.service_instance.workload_context %}"workload-context": "{{ pnf_object.service_instance.workload_context }}",{% else %}{%endif %}
{%- if pnf_object.service_instance.created_at %}"created-at": "{{ pnf_object.service_instance.created_at }}",{% else %}{%endif %}
{%- if pnf_object.service_instance.updated_at %}"updated-at": "{{ pnf_object.service_instance.updated_at }}",{% else %}{%endif %}
{%- if pnf_object.service_instance.resource_version %}"resource-version": "{{ pnf_object.service_instance.resource_version }}",{% else %}{%endif %}
{%- if pnf_object.service_instance.description %}"description": "{{ pnf_object.service_instance.description }}",{% else %}{%endif %}
{%- if pnf_object.service_instance.model_invariant_id %}"model-invariant-id": "{{ pnf_object.service_instance.model_invariant_id }}",{% else %}{%endif %}
{%- if pnf_object.service_instance.model_version_id %}"model-version-id": "{{ pnf_object.service_instance.model_version_id }}",{% else %}{%endif %}
{%- if pnf_object.service_instance.persona_model_version %}"persona-model-version": "{{ pnf_object.service_instance.persona_model_version }}",{% else %}{%endif %}
{%- if pnf_object.service_instance.widget_model_id %}"widget-model-id": "{{ pnf_object.service_instance.widget_model_id }}",{% else %}{%endif %}
{%- if pnf_object.service_instance.widget_model_version %}"widget-model-version": "{{ pnf_object.service_instance.widget_model_version }}",{% else %}{%endif %}
{%- if pnf_object.service_instance.bandwith_total %}"bandwith-total": "{{ pnf_object.service_instance.bandwith_total }}",{% else %}{%endif %}
{%- if pnf_object.service_instance.vhn_portal_url %}"vhn-portal-url": "{{ pnf_object.service_instance.vhn_portal_url }}",{% else %}{%endif %}
{%- if pnf_object.service_instance.service_instance_location_id %}"service-instance-location-id": "{{ pnf_object.service_instance.service_instance_location_id }}",{% else %}{%endif %}
{%- if pnf_object.service_instance.selflink %}"selflink": "{{ pnf_object.service_instance.selflink }}",{% else %}{%endif %}
{%- if pnf_object.service_instance.orchestration_status %}"orchestration-status": "{{ pnf_object.service_instance.orchestration_status }}",{% else %}{%endif %}
{%- if pnf_object.service_instance.input_parameters %}"input-parameters": "{{ pnf_object.service_instance.input_parameters }}",{% else %}{%endif %}
}{% else %}{%endif %}
}
