{
    "requestDetails": {
        "requestInfo": {
            "source": "VID",
            "requestorId": "demo"
        },
        "modelInfo": {
            "modelType": "pnf",
            "modelName": "{{ pnf_instance.pnf.model_name }}",
            "modelInvariantId": "{{ pnf_instance.pnf.model_invariant_id }}",
            "modelVersion": "{{ pnf_instance.pnf.model_version }}",
            "modelVersionId": "{{ pnf_instance.pnf.model_version_id }}",
            "modelCustomizationId": "{{ pnf_instance.pnf.model_customization_id }}",
            "modelCustomizationName": "{{ pnf_instance.pnf.name }}"
        },
        "requestParameters": {
            "testApi": "GR_API",
            "aLaCarte": {{ a_la_carte | tojson }}
        }
    }
}