{
    "requestDetails": {
        "requestInfo": {
            "instanceName": "{{ service_instance.instance_name }}",
            "source": "VID",
            "suppressRollback": false,
            "requestorId": "demo",
            "productFamilyId": "1234"
        },
        "modelInfo": {
            "modelType": "pnf",
            "modelInvariantId": "{{ pnf.model_invariant_id }}",
            "modelVersionId": "{{ pnf.model_version_id }}",
            "modelName": "{{ pnf.model_name }}",
            "modelVersion": "{{ pnf.model_version }}",
            "modelCustomizationId": "{{ pnf.model_customization_id }}",
            "modelInstanceName": "{{ pnf.name }}"
        },
        "platform": {
            "platformName": "{{ platform }}"
        },
        "lineOfBusiness": {
            "lineOfBusinessName": "{{ line_of_business }}"
        },
        "subscriberInfo": {
            "globalSubscriberId": "{{ service_instance.service_subscription.customer.global_customer_id }}"
        },
        "requestParameters": {
            {% block subscriptionServiceType %}
            "subscriptionServiceType": "{{ service.name }}",
            {% endblock %}
            "userParams": [
                {
                    "Homing_Solution": "none"
                },
                {
                    "service": {
                        "instanceParams": [],
                        "resources": {
                            {% block pnfs %}
                            "pnfs": [
                                {
                                    "modelInfo": {
                                        "modelName": "{{ pnf.model_name }}",
                                        "modelVersionId": "{{ pnf.model_version_id }}",
                                        "modelInvariantUuid": "{{ pnf.model_invariant_id }}",
                                        "modelVersion": "{{ pnf.model_version }}",
                                        "modelCustomizationId": "{{ pnf.model_customization_id }}",
                                        "modelInstanceName": "{{ pnf.name }}"
                                    },
                                    "platform": {
                                        "platformName": "{{ platform }}"
                                    },
                                    "lineOfBusiness": {
                                        "lineOfBusinessName": "{{ line_of_business }}"
                                    },
                                    {% if so_pnf.registration_parameters %}
                                    "pnfRegistrationFields": {
                                        "modelNumber": "{{ so_pnf.registration_parameters.model_number }}",
                                        "oamV4IpAddress": "{{ so_pnf.registration_parameters.oam_v4_ip_address }}",
                                        "oamV6IpAddress": "{{ so_pnf.registration_parameters.oam_v6_ip_address }}",
                                        "serialNumber": "{{ so_pnf.registration_parameters.serial_number }}",
                                        "softwareVersion": "{{ so_pnf.registration_parameters.software_version }}",
                                        "unitType": "{{ so_pnf.registration_parameters.unit_type }}",
                                        "vendorName": "{{ so_pnf.registration_parameters.vendor_name }}"
                                    },
                                    {% endif %}
                                    "productFamilyId": "1234",
                                    "instanceName": "{{ instance_name }}",
                                    "instanceParams": [
                                        {
                                            {% for key, value in so_pnf.parameters.items() %}
                                            "{{ key }}": "{{ value }}"{% if not loop.last %},{% endif %}
                                            {% endfor %}
                                        }
                                    ]
                                }
                            ]
                            {% endblock %}
                        },
                        "modelInfo": {
                            "modelType": "pnf",
                            "modelInvariantId": "{{ pnf.model_invariant_id }}",
                            "modelVersionId": "{{ pnf.model_version_id }}",
                            "modelName": "{{ pnf.model_name }}",
                            "modelVersion": "{{ pnf.model_version }}",
                            "modelCustomizationId": "{{ pnf.model_customization_id }}",
                            "modelCustomizationName": "{{ pnf.name }}"
                        }
                    }
                }
            ],
            "aLaCarte": false
        },
        "project": {
            "projectName": "{{ project }}"
        },
        "owningEntity": {
            "owningEntityId": "{{ owning_entity.owning_entity_id }}",
            "owningEntityName": "{{ owning_entity.name }}"
        },
        "relatedInstanceList": [
            {
                "relatedInstance": {
                    "instanceId": "{{ service_instance.instance_id }}",
                    "modelInfo": {
                        "modelType": "service",
                        "modelInvariantId": "{{ service.unique_uuid }}",
                        "modelVersionId": "{{ service.identifier }}",
                        "modelName": "{{ service.name }}",
                        "modelVersion": "1.0"
                    }
                }
            }
        ]
    },
    "serviceInstanceId": "{{ service_instance.instance_id }}"
}
